<a id="profile" class="pointer" (click)="openDialog()"><i class="fas fa-user"></i></a>

<p-dialog [closable]="false" [(visible)]="changePasswordDialog"  [style]="{width: '450px'}" header="{{'change-pass.header'| translate}}" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="passwordForm">

      <div class="form-group">
        <label for="firstName"> {{'change-pass.fname'| translate}}</label>
        <input
          [(ngModel)]="user.firstName"
          required
          formControlName="firstName"
          id="firstName"
          type="text"
          class="form-control">
      </div>
      <div
        class="alert alert-danger"
        *ngIf="passwordForm.controls.firstName.touched && !passwordForm.controls.firstName.valid">
        <div *ngIf="passwordForm.controls.firstName.errors.required">
          {{'change-pass.fname-required'| translate}}
        </div>
      </div>
      <br>

      <div class="form-group">
        <label for="lastName"> {{'change-pass.lname'| translate}}</label>
        <input
          [(ngModel)]="user.lastName"
          required
          formControlName="lastName"
          id="lastName"
          type="text"
          class="form-control">

        <div class="alert alert-danger"
          *ngIf="passwordForm.controls.lastName.touched && !passwordForm.controls.lastName.valid">
          <div *ngIf="passwordForm.controls.lastName.errors.required">
            {{'change-pass.lname-required'| translate}}
          </div>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label for="mobileNumber"> {{'change-pass.mobile-nr'| translate}}</label>
        <div class="flex">
          <p-dropdown [options]="phonePrefix" formControlName="prefix"></p-dropdown>
          <br>
          <div class="columnSeparator" style="width: 100%">
            <input
              required
              formControlName="mobileNumber"
              id="mobileNumber"
              type="text"
              class="form-control"
              pattern="^\d{9}$">
          </div>
        </div>
        <div
          class="alert alert-danger"
          *ngIf="passwordForm.controls.mobileNumber.touched && !passwordForm.controls.mobileNumber.valid">
          <div *ngIf="passwordForm.controls.mobileNumber.errors.required">
            {{'change-pass.nr-required'| translate}}
          </div>
          <div *ngIf="passwordForm.controls.mobileNumber.errors.pattern">
            {{'change-pass.nr-format'| translate}}
          </div>
        </div>
      </div>
      <br>

      <div *ngIf="changePassword">
        <div class="form-group">
          <label for="current_pass"> {{'change-pass.current-pass'| translate}}</label>
          <input
            required
            formControlName="current_pass"
            id="current_pass"
            type="password"
            class="form-control">
        </div>
        <div
          class="alert alert-danger"
          *ngIf="passwordForm.controls.current_pass.touched && !passwordForm.controls.current_pass.valid">
          <div *ngIf="passwordForm.controls.current_pass.errors.required">
            {{'change-pass.please'| translate}}
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="new_pass"> {{'change-pass.new-pass'| translate}}</label>
          <input
            required
            formControlName="new_pass"
            id="new_pass"
            type="password"
            class="form-control">
        </div>
        <div
          class="alert alert-danger"
          *ngIf="passwordForm.controls.new_pass.touched && !passwordForm.controls.new_pass.valid">
          <div *ngIf="passwordForm.controls.new_pass.errors.required">
            {{'change-pass.enter-newpass'| translate}}
          </div>
        </div>
        <br>

        <div class="form-group">
          <label for="confirm_new_pass"> {{'change-pass.confirm'| translate}}</label>
          <input
            required
            formControlName="confirm_new_pass"
            id="confirm_new_pass"
            type="password"
            class="form-control">
        </div>
        <div
          class="alert alert-danger"
          *ngIf="passwordForm.controls.confirm_new_pass.touched && !passwordForm.controls.confirm_new_pass.valid">
          <div *ngIf="passwordForm.controls.confirm_new_pass.errors.required">
            {{'change-pass.please-confirm'| translate}}
          </div>
        </div>
      </div>
    </form>

    <div *ngIf="!changePassword">
      <a  (click)="openPass()" id="change-pass">{{'change-pass.change-password'| translate}}</a>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <div class="submitButton">
      <button class="btn btn-primary" (click)="saveUser()" id="save-btn">{{'change-pass.save'| translate}}</button>
      <button class="btn btn-primary" (click)="hideDialog()">{{'change-pass.close'| translate}}</button>
    </div>
  </ng-template>
</p-dialog>
