@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.p-datatable {
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
}

.user-table {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

td {
  max-width: 150px;
  overflow-wrap: anywhere;
}


.caption_label {
  top: 10px;
  position: absolute;
}

.p-datatable-header {
  background-color: #e5e7ee !important;
  height: 6em;
  position: relative;
}

th {
  background: #2982dc !important;
  color: white !important;
  text-align: center !important;
  font-size: 1.1em;
}

.bug_btn {
  text-align: center !important;
}

.ed_btn, .del_btn {
  color: white;
  border-radius: 50%;
  padding: 0.3em !important;
  border-color: #ffffff;
}

.del_btn {
  margin-top: 0.2em;
  background: #ee091f;
}

.checkbox {
  text-align: center !important;
}

.del_btn:hover {
  background-color: #ee091f !important;
}

.activate-deactivate-user {
  margin: auto;
}

.columnSeparator {
  margin-left: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.activate-deactivate-user {
  width: 30%;
  margin: auto;
}

.email-column {
  width: 18%;
}
